html {
  background-color: #70ad55;
  font-family: "Droid Serif", serif;
}

form {
  background-color: #fff;
}

.btn {
  border: none;
  background-color: #638c62;
  padding: .5rem 2rem;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

input, select, textarea {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
  opacity: .5;
}

fieldset {
  border-top: none;
  border-bottom: 2px solid #70ad55;
}

header {
  color: #fff;
}

.radio {
  border: none;
}
